<p>This is the angular-slick-carousel &copy;</p>

<slick>
    <div>
        <img src="images/carousel/lazyfonz1.png" alt="">
    </div>
    <div>
        <img src="images/carousel/lazyfonz2.png" alt="">
    </div>
    <div>
        <img src="images/carousel/lazyfonz3.png" alt="">
    </div>
    <div>
        <img src="images/carousel/lazyfonz4.png" alt="">
    </div>
    <div>
        <img src="images/carousel/lazyfonz5.png" alt="">
    </div>
    <div>
        <img src="images/carousel/lazyfonz6.png" alt="">
    </div>
    <button type="button" class="slick-prev" tabindex="-1" style="display: block;">Previous</button>
    <button type="button" class="slick-next" tabindex="-1" style="display: block;">Next</button>
</slick>
